<ion-header>
  <ion-toolbar>
    <ion-title>Gestion des notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="gradeForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="stacked">ID Élève</ion-label>
      <ion-input type="number" formControlName="studentId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">ID Matière</ion-label>
      <ion-input type="number" formControlName="subjectId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Note</ion-label>
      <ion-input type="number" formControlName="note"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="gradeForm.invalid">
      Enregistrer
    </ion-button>

  </form>

</ion-content>